<head>
  <style media="screen" type="text/css">

  .text {
    font-family:'Barlow', sans-serif;
    padding: 0 20px 0 20px;
  }

  .price-total {
    color: #155061;
    text-align: center;
  }

  .delivery {
    color: gray;
    font-style: italic;
  }

  .column-header  {
    color: #155061;
    font-weight: bold;
    margin-top: 20px;
  }

  .mail-end {
    color: gray;
    opacity: 0.6;
    text-align: center;
  }

  .table-inside {
    text-align: center;
    height: 100px;
    line-height: 100px;
  }

  table tr {
    border-top: 1px solid gray;
    display: flex;
  }

</style>
</head>
<body>

  <img src="http://res.cloudinary.com/borisj/image/upload/v1522833824/confirmation.jpg" style="width:60%; height:60%; border:none;">



  <div style="margin-top: 10px;">

    <table style="width:60%">
      <tr style="border: none">
        <th style="min-width: 100px"> </th>
        <th style="min-width: 100px" class="text column-header">Title</th>
        <th style="min-width: 100px" class="text column-header">Size</th>
        <th style="min-width: 100px" class="text column-header">Color</th>
        <th style="min-width: 100px" class="text column-header">Price</th>
      </tr>

      <% @cart.shopping_cart_items.each do |item| %>
        <tr style="border-top: 1px solid gray;">
          <td><div style="background-image: url('<%=item.product_variation.product.image%>'); width: 100px; height: 100px; background-size: cover"></div></td>
          <td style="min-width: 100px" class="text table-inside"><%= item.product_variation.product.name %></td>
          <td style="min-width: 100px" class="text table-inside"><%= item.product_variation.size.size %></td>
          <td style="min-width: 100px" class="text table-inside"><%= item.product_variation.color.color %></td>
          <td style="min-width: 100px" class="text table-inside"><%= item.product_variation.product.price %></td>
        </tr>
      <% end %>

    </table>


    <!-- delivery -->
    <div style="border-top: 1px solid gray; display: flex; padding-top: 30px; width: 60%">
      <div class="text delivery">The total cost of delivery is <%= Money.new(800) %>€</div>
    </div>

  </div>

  <!-- Price total -->
  <div style="margin-top: 10px; margin-bottom: 20px">
    <div style="width: 35%; padding: 10px; display: flex; margin-bottom: 10px; border: 2px solid #155061;">
      <p class="text price-total" style="text-align: left; margin-left: 20px;">The sum total of which cost you</p>
      <p class="text price-total" style="text-align: right, margin-right: 20px"><%= @cart.total + Money.new(800) %> €</p>
    </div>
  </div>

  <!-- additional info -->
  <div style="width: 60%; padding-top: 10px">
    <p class="text mail-end"  style="border-top: 1px solid gray; padding-top: 20px;">Should you have any questions, feel free to contact us at <a href='http://www.TheGoodStyle.Store' style='text-decoration: none; font-weight: bold'>TheGoodStyle@store.com</a>! Orders are sent after a maximum of 5 business days. This may vary following the brand and product type.</p>
    <p class="text mail-end"">If an article of clothing is not to your liking, there is a 14 day period in which you can return it for a refund. Contact us for additional details.</p>
  </div>

</body>
