<div class="container">
    <div class="card row">
        <div class="col-xs-12 col-md-6 shopping-cart-column">
            <h3> Your Selections </h3>
            <% @shoppingCart.shopping_cart_items.each do |item| %>
            <div class="flex-selection">
              <div>
                <img src="<%=item.product_variation.product.image%>" width=100 height=100>
              </div>
              <div>
                <p><%= item.product_variation.product.name %></p>
                <p><%= item.product_variation.size.size %></p>
                <p><%= item.product_variation.color.color %></p>
              </div>
              <div>
               <p><%= item.quantity %></p>
              </div>
              <div>
                <p><%= item.product_variation.product.price %>€</p>
              </div>
            </div>
              <% end %>
        </div>
        <div class="col-xs-12 col-md-6 order-details-summary">
            <h3> Order Summary </h3>
            <p> Total Sum:</p>
            <p> --Mucho €--</p>
            <button type="button" class="btn btn-standard">Checkout</button>
        </div>
    </div>
</div>
