
<div class="container">
    <div class="card row">
        <div class="col-xs-12 col-md-6 shopping-cart-column">
            <h3> Your Selections </h3>
            <% @shoppingCart.shopping_cart_items.each do |item| %>
            <div class="flex-selection">
              <div>
                <img src="<%=item.product_variation.product.image%>" width=100 height=100>
              </div>

              <div class="clothe-info">
                <p><%= item.product_variation.product.name %></p>
                <p><%= item.product_variation.size.size %></p>
                <p><%= item.product_variation.color.color %></p>
              </div>


        </div>

        <div>
         <%= simple_form_for item, url: quantity_path do |f| %>
         <%= f.input :quantity %>
         <%= f.input :id, value: item.id, as: :hidden %></p>
         <%= f.button :submit, "change quantity"  %>
         <% end %>
       </div>
       <div>
        <p><%= item.calculate_total %> €</p>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-md-6 order-details-summary">
    <%= form_tag shopping_cart_payments_path(@shoppingCart) do %>
  <%= hidden_field_tag 'order_sku', @shoppingCart.id %>
  if you buy it will cost you <%= @shoppingCart.total %>
  <%= submit_tag 'Buy', class: 'btn btn-primary btn-standard' %>
<% end %>

  </div>
</div>
</div>

<h1>Order</h1>
<ul>
  <li>Status: <%= @shoppingCart.status %></li>
  <li>Amount: <%= humanized_money_with_symbol(@shoppingCart.total) %></li>
<ul>

