<div class="wrapper">
  <div class="container text-center">
    <%= image_tag ("logo.png"), width: "100px", class: "centered-logo" %>
    <h1>Shop our beautiful women's clothes</h1>
    <br>
    <br>

    <div class="row">

      <div class="col-xs-12 col-sm-4 col-md-3">
        <%= render 'shared/card' %>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <%= render 'shared/card' %>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <%= render 'shared/card' %>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <%= render 'shared/card' %>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <%= render 'shared/card' %>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <%= render 'shared/card' %>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <%= render 'shared/card' %>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <%= render 'shared/card' %>
      </div>

    </div>
  </div>
</div>
