
<div class="wrapper">
  <div class="container text-center">
    <div class="row paddingrow">
      <div class="col-xs-12 col-sm-5 show-page">
        <div class="imagebox">
          <div class="show-image" style="background-image:url(<%= @product.image %>); " alt = "product">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7 show-page text-left">
        <div class="textbox">
          <h2><i class="fas fa-ellipsis-v"></i> <%= @product.name%></h2>
          <h3>€ <%= @product.price%></h3>
          <br>
          <p><%= @product.description%></p>
          <div class="selectors">
            <div class="select">

               <h5>Pick your size &nbsp; <i class="fas fa-chevron-down"></i>
              </h5>

<%= simple_form_for @product_variations, url: product_add_item_path(@product) do |f| %>
  <%= f.input :size, collection: @product.sizes.uniq,value_method: :id,placeholder: 'pick your size',label_method: :size, label:false  %>
  <%= f.input :color, collection: @product.colors.uniq, value_method: :id,label_method: :color %>




            </div>
            <div class="select">
              <h5>Pick your color &nbsp; <i class="fas fa-chevron-down"></i>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="buttonrow">
        <%= link_to 'SHOP MORE', "/#{@product.target_audience.gender}", class:"btn btn-default btn-standard"%>
           &nbsp;&nbsp;&nbsp;
        <%= f.button :submit, "ADD TO CART", class: "btn-standard" %>
        <% end %>
        </div>
    </div>

    <div class="row">
      <div class="infobox">

        <div class="subinfobox text-left">

          <div class = "infodetail">
            <div class="infodetailleft">
              <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/117607-200.png" alt="cotton" style="width: 80px;">
            </div>
            <div class="infodetailright">
              <%= @product.material_info %>
            </div>
          </div>

            <div class = "infodetail">
              <div class="infodetailleft">
                <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/430000-200.png" alt="sewing machine" style="width: 80px;">
              </div>
              <div class="infodetailright">
                <%= @product.distance_info %>
              </div>
            </div>

            </div>





            <div class="subinfobox text-left">
              <div class = "infodetail">
                <div class="infodetailleft">
                  <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/1299961-200.png" alt="transport" style="width: 80px;">
                </div>

                <div class="infodetailright">
                  <%= @product.location_info %>
                </div>
              </div>
                <div class = "infodetail">
                  <div class="infodetailleft">
                    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/199783-200.png" alt="people" style="width: 80px;">
                  </div>
                  <div class="infodetailright">
                    <%= @product.people_info %>
                  </div>
                </div>
                </div>


              </div>
            </div>


            <div class="row">
              <div class="backgroundbrand">
                <div class = "brandbox one"><%= image_tag @brand.logo, style: "width: 150px", class: "roundedlogo" %></div>
                <div class = "brandbox two"><h4>Who is <%= @brand.name %>?</h4><p><%= @brand.description %></p></div>

              </div>

            </div>
          </div>
        </div>

