<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>
<%= @product.name%>
<%= @product.price%>
<%= @product.description%>
<%= image_tag @product.image %>
<br>
<%= link_to 'Go back', products_path(@products)%>